body{
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'RoundedFixedsys', sans-serif;
    height: 100vh;
    flex-direction: column;
}

@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
header{
    display: flex;
    padding: 16px;
    justify-content: flex-end;
}
main{
    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    padding: 16px;
}
.wrapper {
  perspective: 500px;
  padding: 0px;
}
.title{
    font-size: 64px;
    margin: 20px;
    transform: rotateX(-45deg);
}
.menu_text{
    font-size: 32px;
    margin: 5px;
}